### File Handling
1. create
2. write
3. reading
4. appending
5. Renaming
6. Removing

In [1]:
import os#to work with folder or file things we need to import os
os.rename("sample.txt","demo.txt")

In [2]:
os.remove("demo.txt")

#Q5)create a folder,goto folder and create 5 no.of files
#all names shd be unique,add some content....
#file size shd b 512 bits

import os
os.mkdir("py")
for i in range(5):
    file_name=" "
    f=open("desktop//AiandMl//file name","a")#creates a file with given name
    for i in range(512):#adding content
        f.write("character")

## Tuple:
1. immutable
2. using ( ) elements are separated by ,
3. Indexed,Ordered

In [3]:
#Tuple
tup1=(12,3,34.5,"abc",True)
print(type(tup1))

<class 'tuple'>

In [5]:
print(tup1[2])
print(tup1[-1])

34.5
True

In [6]:
tup1[2]=100#we cant do this

TypeError: 'tuple' object does not support item assignment

In [9]:
l=list(tup1)
l[2]=100
l
tup1=tuple(l)
tup1

(12, 3, 100, 'abc', True)

In [12]:
print(tup1.count(12))
print(tup1.index(100))

1
2

In [13]:
#Unpacking
tup2=(12,232,4,354)
a,b,c,d=tup2
print(d)

354

In [14]:
#Packing
x=10,20,30
print(type(x))
print(x)

<class 'tuple'>
(10, 20, 30)

In [15]:
#Tuple with single element
y=(10,)#if comma is not placed then it is treated as integer
print(type(y))

<class 'tuple'>

In [17]:
for ele in x:
    print (ele)

10
20
30

## Set:
1. {}
2. Does not allow duplicte values
3. are not ordered
4. unindexed
5. Mutable

In [21]:
set1={1,2,3,58,44,1,2}
print(set1)

{1, 2, 3, 44, 58}

In [22]:
print(set1[3])

TypeError: 'set' object is not subscriptable

#the above error says that there is no indexing in sets

In [24]:
for el in set1:
    print(el)

1
2
3
44
58

### Built-in functions:
1. len()
2. min()
3. max()
4. set()

In [29]:
set2={4,5,3,8,34,28,36,46,50}
print(set2)
print("length of set:",len(set2))
print("min:",min(set2))
print("max:",max(set2))

{34, 3, 4, 5, 36, 8, 46, 50, 28}
length of set: 9
min: 3
max: 50

In [30]:
#to remove duplicate values in list
list1=[1,2,3,4,5,2,1]
list1=set(list1)
list1

{1, 2, 3, 4, 5}

### Built-in methods:
1. add()
2. #for removing element:
    - pop()
    - remove()
    - discard()
    - clear()

In [32]:
set3=set()
print(type(set3))

<class 'set'>

In [34]:
set3.add(58)
set3.add(89)
set3.add(90)
set3.add(96)
set3

{58, 89, 90, 96}

In [35]:
set3.pop()

96

In [36]:
set3.remove(89)

In [37]:
set3

{58, 90}

In [38]:
set3.remove(89)

KeyError: 89

In [39]:
set3.discard(58)

In [40]:
set3

{90}

In [41]:
set3.discard(58)#dosent throw erroe

In [42]:
set3

{90}

In [43]:
set3.clear()#clears all the elements in set

In [44]:
set3

set()

In [49]:
#union difference intersection subset superset disjoint

A={1,2,3,4,5}
B={3,4,5,6,7}
#union A U B==> {1,2,3,4,5,6,7}
print(A.union(B))
#difference (A-b)or(B-A)
#A-B==>{1,2}
#B-A==>{6,7}
print(A.difference(B))#A-b
print(B.difference(A))#B-A
# intersection A and B==>{3,4,5}
print(A.intersection(B))

{1, 2, 3, 4, 5, 6, 7}
{1, 2}
{6, 7}
{3, 4, 5}

In [51]:
#subset superset disjoint symmetric difference

C={1,2,3,4,5,6,7,8,9,10}
print(A.issubset(C))#return is boolean
print(A.issubset(B))#return is boolean
print(C.issuperset(A))
print(C.issuperset(B))

True
False
True
True

In [53]:
#disjoint
print(A.isdisjoint(B))#whenever method starts with is then return is boolean
X={1,2}
Y={23,34,45}
print(X.isdisjoint(Y))

False
True

In [55]:
#Symmetric difference (union of(A-B)and(B-A))
print(A.symmetric_difference(B))
print(A)
print(B)

{1, 2, 6, 7}
{1, 2, 3, 4, 5}
{3, 4, 5, 6, 7}

In [56]:
A.update(B)#A = A union B
print(A)
print(B)

{1, 2, 3, 4, 5, 6, 7}
{3, 4, 5, 6, 7}

In [57]:
A.intersection_update(B)
print(A)
print(B)

{3, 4, 5, 6, 7}
{3, 4, 5, 6, 7}

In [58]:
A.difference_update(B)
print(A)
print(B)

set()
{3, 4, 5, 6, 7}

In [59]:
A.symmetric_difference_update(B)
print(A)
print(B)

{5, 4, 3, 6, 7}
{3, 4, 5, 6, 7}

### Dictionary:
```dictionary name = {key1:value1,key2:key2,.....}```
Rules for key :
1. keys should be unique
2. keys should be immutable (example:numerics,string,tuple)

In [60]:
#creating a dictionary
dict1 ={"name":"pranay","emp id":1234,"address":"hyd"}
print(dict1)

{'name': 'pranay', 'emp id': 1234, 'address': 'hyd'}

In [61]:
#Extracting an element
print(dict1["emp id"])

1234

In [62]:
#Removing or deleting an entry
del dict1["address"]
print(dict1)

{'name': 'pranay', 'emp id': 1234}

In [64]:
#Adding an entry 
dict1["course"] = "python"
print(dict1)

{'name': 'pranay', 'emp id': 1234, 'course': 'python'}

### Built-in methods:
1. keys()
2. items()
3. items()
4. gets()

In [66]:
print(dict1.keys())
print(dict1.values())
print(dict1.items())

dict_keys(['name', 'emp id', 'course'])
dict_values(['pranay', 1234, 'python'])
dict_items([('name', 'pranay'), ('emp id', 1234), ('course', 'python')])

In [67]:
#extracting an element from the dictonary
print(dict1["name"])
print(dict1.get("name"))

pranay
pranay

In [68]:
#Adding an entry
dict1["address"]="hyd"
dict1

{'name': 'pranay', 'emp id': 1234, 'course': 'python', 'address': 'hyd'}

In [74]:
d={1:1,2:2,3:3}
dict1.update(d)
print(dict1)

{'emp id': 1234, 'course': 'python', 'address': 'hyd', 2: 2, 1: 1, 3: 3}

In [76]:
#Removing an entry ==> pop(),popitem()
dict1.pop("course")
dict1

{'emp id': 1234, 'address': 'hyd', 2: 2, 1: 1, 3: 3}

In [77]:
dict1.popitem()

(3, 3)

### Hint for Assignment(Password Picker)verb+noun+dig+symbol
import random
random.randint(1,100)
random.choice()

In [80]:
a="qspiders"
b="jspiders"
print(a+b)

qspidersjspiders

In [82]:
def greetPerson(*name):

                    print('Hello', name)

greetPerson('puttur','tirupati')

Hello ('puttur', 'tirupati')

In [83]:
def addFunc(item):

    item += [1]

    mylist = [1, 2, 3, 4]

    addFunc(mylist)

    print (len(mylist))